#quote-image {
    width: 30px;
    height: auto;
}
#twitter-image {
    width: auto;
    height: 45px;
}
#quote-button {
    padding: 12px;
    height: 40px;
    width: 100px;
    font-size: 15px;
    border-radius: 4px;
}
#quote-button:hover {
    filter: brightness(120%);
}
#quote-text {
    text-align: center;
    line-height: 40px;
    font-size: 30px;
}
#quote-box {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 450px;
    justify-content: center;
    border-radius: 4px;
}
#quote-author {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: right;
    align-self: right;
    font-size: 20px;
}
#quote-buttons-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}